# SPDX-License-Identifier: GPL-3.0-or-later
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: false
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
